<a href="https://colab.research.google.com/github/Champ8014/my_first_xml/blob/main/Intro_to_Python_101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Variable** ประกาศตัวแปร (=)

In [ ]:
print("hello world")
print('hello world')

hello world
hello world

In [ ]:
# create a new variable
my_name = "Champ"
my_age = 31
my_gpa = 2.98
my_university = "Siam University"
print(my_name, my_age, my_gpa, my_university)

Champ 31 2.98 Siam University

In [ ]:
# re-assign a new value
my_name = "Pisit"
print(my_name)

Pisit

# **Data Types**
- int - ตัวเลขจำนวนเต็ม
- float - ตัวเลขทศนิยม
- str (string) - ตัวอักษร
- bool (True, False) - ถูก ผิด

In [ ]:
x = 2.94
type(x)

float

In [ ]:
# convert data type
y = "1"
y = int(y)
print(y, type(y))

1 <class 'int'>

In [ ]:
z = 0 
bool(z)
# 0=False, 1=True

False

In [ ]:
text = "123"
text = int(text)
text = str(text)
print(type(text))

<class 'str'>

In [ ]:
# type hint
my_name: str = "Champ"
print(my_name)

Champ

In [ ]:
my_age: int = 31
print(my_age, type(my_age))

31 <class 'int'>

In [ ]:
def add_two_number(x: int, y:int) -> int:
    return x*y

add_two_number(5, 10)

50

# **Data Sturctures** โครงสร้าง
- list
- tuple
- dictionary
- set

In [2]:
# create a new list
shopping_list = ['egg', 'milk', 'bread']
print(shopping_list)

['egg', 'milk', 'bread']

In [3]:
# update value in a list
shopping_list[0] = 'beer'
shopping_list[1] = 'yoghurt'

print(shopping_list)

['beer', 'yoghurt', 'bread']

In [4]:
# list method , add new item at the end list 
shopping_list.append('tomato')
shopping_list.append('lemon')
shopping_list.remove('tomato')

In [5]:
print(shopping_list)

['beer', 'yoghurt', 'bread', 'lemon']

In [6]:
shopping_list[0:3] # up to but not include

['beer', 'yoghurt', 'bread']

In [7]:
new_list = shopping_list + ['omlet', 'book']
print(new_list)

['beer', 'yoghurt', 'bread', 'lemon', 'omlet', 'book']

In [8]:
# how many items 
len(new_list)

6

In [9]:
# remove bread, index=2
new_list.pop(2)
print(new_list)

['beer', 'yoghurt', 'lemon', 'omlet', 'book']

In [10]:
# list is a mutable object
new_list[0] = 'Heineken'
print(new_list)

['Heineken', 'yoghurt', 'lemon', 'omlet', 'book']

In [11]:
# Tuple is immutable เปลี่ยน [] เป็น () ไม่สามารถเปลี่ยนค่าได้

shopping_tuple = ('egg', 'milk', 'bread', 'egg')
print(shopping_tuple)

('egg', 'milk', 'bread', 'egg')

In [12]:
shopping_tuple[0: ]

('egg', 'milk', 'bread', 'egg')

In [13]:
# tuple method
shopping_tuple.count('egg')

2

In [14]:
# set is another built-in data structure in Python เก็บค่าไม่ซ้ำกัน
shopping_tuple

('egg', 'milk', 'bread', 'egg')

In [15]:
# create a new set พิมพ์เล็ก พิมพ์ใหญ่มีผล
shopping_set = set(shopping_tuple)
print(shopping_set)

{'milk', 'egg', 'bread'}

In [16]:
print(type(shopping_set))

<class 'set'>

In [17]:
my_set = {'Champ', 'Phueng', 'Turbo'}

In [18]:
my_set

{'Champ', 'Phueng', 'Turbo'}

In [19]:
# dictionary 
# key-value pairs

customer = {
    "id": 1,
    "fname": "Pisit",
    "lname": "Thongming",
    "nationality": "Thailand"
}

print(customer)

{'id': 1, 'fname': 'Pisit', 'lname': 'Thongming', 'nationality': 'Thailand'}

In [42]:
# get value from dictionary การดึงค่าจากdictionary
customer['nationality']

'English'

In [41]:
# dictionary is mutable object อัพเดทค่าใหม่เข้าไปได้
customer['nationality'] = 'English'
print(customer)

{'id': 1, 'fname': 'Pisit', 'lname': 'Thongming', 'nationality': 'English', 'team': 'Liverpool', 'fav_movie': ['Batman', 'Superman', 'Marvel']}

In [40]:
# create a new key in dictionary เพิ่มค่าใหม่เข้าไปใหม่
customer['team'] = 'Liverpool'
customer['fav_movie'] = ['Batman', 'Superman', 'Marvel']
print(customer)

{'id': 1, 'fname': 'Pisit', 'lname': 'Thongming', 'nationality': 'English', 'team': 'Liverpool', 'fav_movie': ['Batman', 'Superman', 'Marvel']}

In [43]:
customer

{'fav_movie': ['Batman', 'Superman', 'Marvel'],
 'fname': 'Pisit',
 'id': 1,
 'lname': 'Thongming',
 'nationality': 'English',
 'team': 'Liverpool'}

In [45]:
customer['fav_movie'][-2]

'Superman'

In [46]:
print(customer) #ordered เรียงตามลิส

{'id': 1, 'fname': 'Pisit', 'lname': 'Thongming', 'nationality': 'English', 'team': 'Liverpool', 'fav_movie': ['Batman', 'Superman', 'Marvel']}

In [47]:
# delete key
customer.pop('fav_movie')

['Batman', 'Superman', 'Marvel']

In [48]:
customer

{'fname': 'Pisit',
 'id': 1,
 'lname': 'Thongming',
 'nationality': 'English',
 'team': 'Liverpool'}

In [49]:
# check key in dictionary
'TEAM' in customer

False

# **Control Flow**
- if-else
-for  loop (in and or)
-while  loop

In [53]:
# if else
score = 90

if score > 80:
    print("Passed")
else:
    print("Failed")

Passed

In [58]:
# for loop + if else 
scores = [85, 90, 65, 60, 82]

grades = [] # empty list

for score in scores:
    if score > 80:
        grades.append("Passed")
    else:
        grades.append("Failed")

print(grades)

['Passed', 'Passed', 'Failed', 'Failed', 'Passed']

In [59]:
# while loop วนไปเรื่อยๆ
count = 0

while (count < 5):
    print("Hello!")
    count += 1 # add 1 to count

Hello!
Hello!
Hello!
Hello!
Hello!

# **Function การสร้างฟังชั่น**

In [63]:
# create a new function

def greeting():
    print("hello world!")

In [64]:
greeting()

hello world!

In [69]:
def greeting_user(name: str) -> str:
    return "hello " + name

hello Champ

In [70]:
# function to give grade 
# function is Re-USABLE

def grading(scores):
    """Give grades to a list of score for student"""
    result = []  # เปิดตัวแปรว่างไว้
    for score in scores:  #เขียนloop วนเพื่อหาค่า
        if score > 80:
            result.append("Passed")
        else:
            result.append("Failed")
    return result  # return จะออกจาก loop

In [71]:
result = grading([85, 90, 26, 100, 67])
print(result)

['Passed', 'Passed', 'Failed', 'Passed', 'Failed']